<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

   <p> <a href="/">Home</a> </p>

<header>

    <h1>All the Photos</h1>
    <nav>
        <ul>
        <li>
            <a href="/photos/new">Post a new photo</a>
        </li>
        </ul>
    </nav>

</header>

    <main>
        <h2>List of photos</h2>
        <ul>
        <% for(let i = 0; i < photos.length; i++){ %>
            <li>
            <a href="/photos/<%=photos[i]._id%>"><%=photos[i].title%></a>
            </li>
        <% } %>
        </ul>
    </main>

</body>
</html>