<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <p> <a href="/">Home</a> </p>

<header>
    <h1>Post a Photo</h1>
    <nav>
        <ul>

        <li>
            <a href="/photos">Photos Index</a>
        </li>

        </ul>
    </nav>
    </header>

    <main>
    <form action="/photos" method="POST">
        <label>Users</label>
        <br/>
            <select name="userId">
            <%for (let i = 0; i < users.length; i++){ %>
                    <option value="<%=users[i].id%>"><%=users[i].username%></option>
            <%}%>
            </select>
        <br/>

        <label for="">Title</label>
        <br/>

        <input type="text" name="title" /><br/>

        <label for="">Image url</label>
        <br/>

        <input type="text" name="image" /><br/>
        
        <input type="submit" value="Publish photo"/>
    </form>
    </main>

</body>
</html>